body {
}

.main-title {
  text-align: center;
}

ul {
  list-style: none;
}

li {
}

.bar-box {
  margin: 30px auto;
  padding: 20px;
  width: 60%;
  background-color: #fff;
  box-shadow: 0px 3px 10px 1px #00000038;
  border-radius: 5px;
}

.list-header {
  display: flex;
  flex-direction: row;
  /* justify-content: left; */
}

.list-header li {
  margin: 5px 40px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

.name {
  margin-right: 0px;
  animation: animation_name infinite 15s alternate linear;
}

@keyframes animation_name {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 80%;
  }
}

.bar-box a:hover {
  animation: animation_more_info 5s linear;
}

.bar-box a:hover + .beers {
  display: inline;
}

.beers {
  display: none;
}
